@charset "UTF-8";

@font-face {
  font-family: "Josefin Sans";
  font-display: swap;
  src: url("../fonts/JosefinSans-Bold.woff2") format("woff2"), url("../fonts/JosefinSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  font-display: swap;
  src: url("../fonts/JosefinSans-Regular.woff2") format("woff2"), url("../fonts/JosefinSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Josefin Sans";
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Josefin Sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #081f35;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo {
  width: 9.375rem;
  aspect-ratio: 250/41;
  pointer-events: none;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 10;
}

.header {
  padding: 0.9375rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #081f35;
  z-index: 100;
}

.header__container {
  background-color: rgba(5, 70, 114, 0.6117647059);
  min-height: 3.4375rem;
  border-radius: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.header__nav {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  padding: 0.3125rem 0.75rem 0.3125rem;
  letter-spacing: 0.0375rem;
  line-height: 1.25;
  font-size: 1.25rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  text-transform: lowercase;
}

.header__link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #794cff;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  z-index: -1;
}

.header__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.icon-menu {
  display: none;
}

.menu__body {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  padding: 9.375rem 1.25rem 1.875rem 1.5625rem;
  overflow: auto;
  background-color: #4116c4;
  -webkit-transition: right 0.5s ease;
  transition: right 0.5s ease;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.25rem;
}

.menu__link {
  font-size: 2.125rem;
  line-height: 1.2;
  text-align: end;
  display: inline-block;
}

.menu-open .menu__body {
  right: 0;
}

.menu-open .header::before {
  right: 0;
}

.footer {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  min-height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(5, 70, 114, 0.6117647059);
}

.footer__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
  width: 2.1875rem;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.footer__link img:hover {
  -webkit-transform: translate(0, -0.25rem);
      -ms-transform: translate(0, -0.25rem);
          transform: translate(0, -0.25rem);
}

.title {
  font-family: "Nunito";
  font-weight: 700;
}

.portfolio {
  padding-top: 6.25rem;
}

.portfolio__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1.25rem;
  padding: 1.875rem 0;
}

.portfolio__control .swiper-button-prev,
.portfolio__control .swiper-button-next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
}

.portfolio__control .swiper-button-prev svg,
.portfolio__control .swiper-button-next svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.portfolio__control .swiper-button-prev {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.portfolio__control .swiper-button-disabled {
  opacity: 0.2;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.portfolio__title {
  position: relative;
  overflow: hidden;
  text-align: center;
  -webkit-transition: opacity 0.5s ease 0.9s;
  transition: opacity 0.5s ease 0.9s;
}

.portfolio__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #081f35;
  -webkit-transition: left 1.5s ease;
  transition: left 1.5s ease;
}

.portfolio__title._watcher-view {
  opacity: 0.1;
}

.portfolio__title._watcher-view::before {
  left: 100%;
}

.portfolio__slider .swiper-pagination {
  bottom: 0;
}

.portfolio__slider .swiper-pagination span {
  width: 1.5625rem;
  border-radius: 0.625rem;
  background-color: #fff;
}

.portfolio__body img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(1.0001);
      -ms-transform: scale(1.0001);
          transform: scale(1.0001);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.portfolio__link {
  display: inline-block;
  overflow: hidden;
  border-radius: 0.3125rem;
}

.portfolio__link:nth-child(1) {
  margin-bottom: 0.625rem;
  -webkit-box-shadow: 0px 5px 6px -5px rgb(0, 0, 0);
          box-shadow: 0px 5px 6px -5px rgb(0, 0, 0);
}

.portfolio__link:nth-child(2) {
  margin-bottom: 0.3125rem;
}

.portfolio__title-slide {
  font-family: "Nunito";
  letter-spacing: 0.03125rem;
  line-height: 1.1;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.portfolio__title-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 70, 114, 0.6117647059);
  z-index: -1;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
}

.portfolio__title-slide:not(:last-child) {
  margin-bottom: 0.625rem;
}

.portfolio__descr {
  font-family: "Nunito";
  letter-spacing: 0.0625rem;
}

.portfolio__descr p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .menu__body {
    width: 55%;
    border-radius: 15% 85% 0% 100%/100% 0% 100% 0%;
  }
}

@media (min-width: 47.99875em) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu {
    display: none;
  }
}

@media (min-width: 81.25em) {
  .title {
    letter-spacing: 3.125rem;
  }

  .title {
    font-size: 6.25rem;
  }

  .title--margin:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .portfolio__title-slide {
    font-size: 2.375rem;
  }
}

@media (max-width: 20em) {
  .title {
    letter-spacing: 0.625rem;
  }

  .title {
    font-size: 2.625rem;
  }

  .title--margin:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .portfolio__title-slide {
    font-size: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .header:before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #4116c4;
    z-index: 10;
    -webkit-transition: right 0.5s ease;
    transition: right 0.5s ease;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.1875rem;
    height: 1.4375rem;
    z-index: 100;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) and (min-width: 29.99875em) {
  .header:before {
    width: 47%;
  }
}

@media (min-width: 20em) and (max-width: 81.25em) {
@supports (letter-spacing: clamp( 0.625rem , -0.1913265306rem  +  4.0816326531vw , 3.125rem )) {
    .title {
      letter-spacing: clamp( 0.625rem , -0.1913265306rem  +  4.0816326531vw , 3.125rem );
    }
}

@supports not (letter-spacing: clamp( 0.625rem , -0.1913265306rem  +  4.0816326531vw , 3.125rem )) {
    .title {
      letter-spacing: calc(0.625rem + 2.5 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 2.625rem , 1.4413265306rem  +  5.9183673469vw , 6.25rem )) {
    .title {
      font-size: clamp( 2.625rem , 1.4413265306rem  +  5.9183673469vw , 6.25rem );
    }
}

@supports not (font-size: clamp( 2.625rem , 1.4413265306rem  +  5.9183673469vw , 6.25rem )) {
    .title {
      font-size: calc(2.625rem + 3.625 * (100vw - 20rem) / 61.25);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.012755102rem  +  3.0612244898vw , 2.5rem )) {
    .title--margin:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.012755102rem  +  3.0612244898vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.012755102rem  +  3.0612244898vw , 2.5rem )) {
    .title--margin:not(:last-child) {
      margin-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 61.25);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7117346939rem  +  0.8163265306vw , 2.375rem )) {
    .portfolio__title-slide {
      font-size: clamp( 1.875rem , 1.7117346939rem  +  0.8163265306vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7117346939rem  +  0.8163265306vw , 2.375rem )) {
    .portfolio__title-slide {
      font-size: calc(1.875rem + 0.5 * (100vw - 20rem) / 61.25);
    }
}
}

@media (any-hover: hover) {
  .header__link:hover::before {
    top: 0;
  }

  .portfolio__body img:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }

  .portfolio__title-slide:hover::before {
    left: 0;
  }
}