@font-face {
  font-family: "JosefinSans";
  font-display: swap;
  src: url("../fonts/JosefinSans-Bold.woff2") format("woff2"), url("../fonts/JosefinSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JosefinSans";
  font-display: swap;
  src: url("../fonts/JosefinSans-Regular.woff2") format("woff2"), url("../fonts/JosefinSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TitanOne";
  font-display: swap;
  src: url("../fonts/TitanOne-Regular.woff2") format("woff2"), url("../fonts/TitanOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "JosefinSans";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "JosefinSans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.dark-theme body {
  background-color: #03182b;
}

.dark-theme body::-webkit-scrollbar {
  width: 0.625rem;
  background-color: #474747;
}

.dark-theme body::-webkit-scrollbar-thumb {
  background-color: #dbd1d1;
}

.light-theme body {
  color: #242423;
  background-color: #e0e7eb;
}

.light-theme body::-webkit-scrollbar {
  width: 0.625rem;
  background-color: #5e5858;
}

.light-theme body::-webkit-scrollbar-thumb {
  background-color: #242423;
}

.light-theme body .area {
  background-color: #e0e7eb;
}

.light-theme body .area__circles li {
  background-color: #5e5858;
}

.light-theme .header {
  color: #fff;
}

.light-theme .header__container {
  background-color: rgba(65, 22, 196, 0.95);
}

.light-theme .header .menu__link::before {
  background-color: #000;
}

.light-theme .header .menu__theme-btn {
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
  background: url("../img/icons/moon.svg") center/1.875rem 1.875rem no-repeat;
}

.light-theme .portfolio__title-slide::before {
  background-color: #043959;
}

.light-theme .portfolio__descr {
  font-weight: 700;
}

.light-theme .portfolio .swiper-button-prev svg path,
.light-theme .portfolio .swiper-button-next svg path {
  fill: #242423;
}

.light-theme .contact .form > input,
.light-theme .contact .form textarea {
  color: #242423;
}

.light-theme .contact .form > input::-webkit-input-placeholder, .light-theme .contact .form textarea::-webkit-input-placeholder {
  color: #242423;
}

.light-theme .contact .form > input::-moz-placeholder, .light-theme .contact .form textarea::-moz-placeholder {
  color: #242423;
}

.light-theme .contact .form > input:-ms-input-placeholder, .light-theme .contact .form textarea:-ms-input-placeholder {
  color: #242423;
}

.light-theme .contact .form > input::-ms-input-placeholder, .light-theme .contact .form textarea::-ms-input-placeholder {
  color: #242423;
}

.light-theme .contact .form > input::placeholder,
.light-theme .contact .form textarea::placeholder {
  color: #242423;
}

.light-theme .contact .form > input:focus,
.light-theme .contact .form textarea:focus {
  outline: 0.25rem solid rgba(65, 22, 196, 0.95);
}

.light-theme .contact .form__button {
  color: #fff;
}

.light-theme .footer {
  background-color: rgba(65, 22, 196, 0.95);
}

.light-theme .popup__content {
  color: #fff;
  background-color: #000;
}

.light-theme .popup__close {
  background-color: #fff;
  color: #000;
  font-weight: 600;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.625rem;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: rgba(65, 22, 196, 0.95);
  text-align: center;
  padding: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.75rem;
  gap: 0.9375rem;
  width: 100%;
  max-width: 56.25rem;
  font-family: "Nunito";
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  padding: 0.625rem 0.9375rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #000;
  line-height: 1.2;
  border-radius: 2.5rem;
  letter-spacing: 0.125rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.popup__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.2;
}

.popup__text svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.8125rem;
          flex: 0 0 2.8125rem;
  width: 2.8125rem;
  height: 2.8125rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "TitanOne";
  overflow: hidden;
  text-align: center;
}

.logo {
  aspect-ratio: 250/41;
  pointer-events: none;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo--position {
  position: relative;
  z-index: 100;
}

.area {
  background-color: #03182b;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.area__circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  overflow: hidden;
}

.area__circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 1.25rem;
  height: 1.25rem;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animateBackground 25s linear infinite;
          animation: animateBackground 25s linear infinite;
  bottom: -9.375rem;
}

.area__circles li:nth-child(1) {
  left: 25%;
  width: 5rem;
  height: 5rem;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.area__circles li:nth-child(2) {
  left: 10%;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.area__circles li:nth-child(3) {
  left: 70%;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.area__circles li:nth-child(4) {
  left: 40%;
  width: 3.75rem;
  height: 3.75rem;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.area__circles li :nth-child(5) {
  left: 65%;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  opacity: 0.1;
}

.area__circles li:nth-child(6) {
  left: 75%;
  width: 6.875rem;
  height: 6.875rem;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.area__circles li:nth-child(7) {
  left: 35%;
  width: 9.375rem;
  height: 9.375rem;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.area__circles li:nth-child(8) {
  left: 50%;
  width: 1.5625rem;
  height: 1.5625rem;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.area__circles li:nth-child(9) {
  left: 20%;
  width: 0.9375rem;
  height: 0.9375rem;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.area__circles li:nth-child(10) {
  left: 85%;
  width: 9.375rem;
  height: 9.375rem;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  opacity: 0.1;
}

.area__circles li:nth-child(11) {
  left: 12%;
  width: 1.5625rem;
  height: 1.5625rem;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
}

.area__circles li:nth-child(12) {
  left: 37%;
  width: 4.4375rem;
  height: 4.4375rem;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-duration: 29s;
          animation-duration: 29s;
}

@-webkit-keyframes animateBackground {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animateBackground {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes scale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes beforeAfter {
  0% {
    width: 50%;
  }

  10% {
    width: 86%;
  }

  20% {
    width: 41%;
  }

  30% {
    width: 74%;
  }

  40% {
    width: 5%;
  }

  50% {
    width: 58%;
  }

  60% {
    width: 44%;
  }

  70% {
    width: 65%;
  }

  80% {
    width: 33%;
  }

  90% {
    width: 75%;
  }

  100% {
    width: 50%;
  }
}

@keyframes beforeAfter {
  0% {
    width: 50%;
  }

  10% {
    width: 86%;
  }

  20% {
    width: 41%;
  }

  30% {
    width: 74%;
  }

  40% {
    width: 5%;
  }

  50% {
    width: 58%;
  }

  60% {
    width: 44%;
  }

  70% {
    width: 65%;
  }

  80% {
    width: 33%;
  }

  90% {
    width: 75%;
  }

  100% {
    width: 50%;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.0375rem;
  line-height: 1.25;
  font-weight: 700;
  font-size: 2.25rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  text-transform: lowercase;
  z-index: 10;
}

.menu__theme-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.8125rem;
          flex: 0 0 2.8125rem;
  width: 2.8125rem;
  margin-left: auto;
  background: url("../img/icons/sun.svg") center/1.875rem 1.875rem no-repeat;
  z-index: 100;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu-open .menu__list {
  right: 0;
}

.menu-open .header::before {
  right: 0;
}

.header--position {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__container {
  background-color: #043959;
  min-height: 3.4375rem;
  border-radius: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -webkit-box-shadow: 0 0.3125rem 0.375rem -0.3125rem rgb(0, 0, 0);
          box-shadow: 0 0.3125rem 0.375rem -0.3125rem rgb(0, 0, 0);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.icon-menu {
  display: none;
}

.footer {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  min-height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #043959;
  -webkit-box-shadow: 0 -0.4375rem 0.5625rem -0.625rem rgb(0, 0, 0);
          box-shadow: 0 -0.4375rem 0.5625rem -0.625rem rgb(0, 0, 0);
  border-radius: 0.625rem 0.625rem 0 0;
}

.footer__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
  width: 2.1875rem;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.625rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

main > :first-child {
  padding-top: 6.25rem;
}

.about {
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__body {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 68% 32% 63% 37%/42% 60% 40% 58%;
  -webkit-box-shadow: 0.9375rem 0.9375rem 0.625rem -0.1875rem rgba(0, 0, 0, 0.38);
          box-shadow: 0.9375rem 0.9375rem 0.625rem -0.1875rem rgba(0, 0, 0, 0.38);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.about__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
}

.about__item img {
  -webkit-transform: scale(1.35);
      -ms-transform: scale(1.35);
          transform: scale(1.35);
}

.about__item:nth-child(1) img {
  width: 100%;
}

.about__item:nth-child(2) {
  width: 50%;
  -webkit-animation: beforeAfter 12s ease infinite;
          animation: beforeAfter 12s ease infinite;
}

.about__item:nth-child(2) img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.about__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
}

.about__text p {
  -webkit-transform: scale(0.94);
      -ms-transform: scale(0.94);
          transform: scale(0.94);
  line-height: 1.2;
  text-align: center;
  -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
          animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.about__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.about__text p span {
  display: inline-block;
  opacity: 0;
  -webkit-filter: blur(0.25rem);
          filter: blur(0.25rem);
}

.about__text p span:nth-child(1) {
  -webkit-animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(2) {
  -webkit-animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(3) {
  -webkit-animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(4) {
  -webkit-animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(5) {
  -webkit-animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(6) {
  -webkit-animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(7) {
  -webkit-animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(8) {
  -webkit-animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(9) {
  -webkit-animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(10) {
  -webkit-animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(11) {
  -webkit-animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(12) {
  -webkit-animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(13) {
  -webkit-animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(14) {
  -webkit-animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(15) {
  -webkit-animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(16) {
  -webkit-animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(17) {
  -webkit-animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(18) {
  -webkit-animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(19) {
  -webkit-animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(20) {
  -webkit-animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about__text p span:nth-child(21) {
  -webkit-animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.portfolio__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1.25rem;
  padding: 1.25rem 0;
}

.portfolio__control .swiper-button-prev,
.portfolio__control .swiper-button-next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  width: 2.5rem;
  aspect-ratio: 1/1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.portfolio__control .swiper-button-prev svg,
.portfolio__control .swiper-button-next svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.portfolio__control .swiper-button-prev svg path,
.portfolio__control .swiper-button-next svg path {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.portfolio__control .swiper-button-prev {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.portfolio__control .swiper-button-disabled {
  opacity: 0.2;
}

.portfolio__slider {
  margin-right: -0.9375rem;
}

.portfolio__slide {
  opacity: 0.25;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.portfolio__link-img {
  display: block;
  overflow: hidden;
  -webkit-box-shadow: 0 0.3125rem 0.375rem -0.3125rem rgb(0, 0, 0);
          box-shadow: 0 0.3125rem 0.375rem -0.3125rem rgb(0, 0, 0);
  border-radius: 0.3125rem;
}

.portfolio__link-img:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.portfolio__link-img img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(1.0001);
      -ms-transform: scale(1.0001);
          transform: scale(1.0001);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.portfolio__title-slide {
  font-family: "Nunito";
  letter-spacing: 0.03125rem;
  line-height: 110%;
  font-weight: 700;
  overflow: hidden;
}

.portfolio__title-slide:not(:last-child) {
  margin-bottom: 0.5rem;
}

.portfolio__link {
  display: inline-block;
  position: relative;
}

.portfolio__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 70, 114, 0.6117647059);
  z-index: -1;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
}

.portfolio__descr {
  font-family: "Nunito";
  letter-spacing: 0.0625rem;
}

.portfolio__descr p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

.form > input,
.form textarea {
  font-weight: 600;
  padding: 1.25rem;
  background-color: transparent;
  border-radius: 0.75rem;
  outline: 0.125rem solid #043959;
  color: #fff;
}

.form > input:focus,
.form textarea:focus {
  outline: 0.25rem solid #fff;
}

.form > input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.form > input::-moz-placeholder, .form textarea::-moz-placeholder {
  color: #fff;
  opacity: 0.6;
}

.form > input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.form > input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.form > input::placeholder,
.form textarea::placeholder {
  color: #fff;
  opacity: 0.6;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 27%;
          flex: 1 1 27%;
}

.form__message {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  resize: none;
}

.form__button {
  padding: 1.0625rem 2.5rem 0.9375rem;
  line-height: 1.2;
  font-weight: 600;
  border-radius: 1.5625rem;
  overflow: hidden;
  text-align: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.form__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 22, 196, 0.95);
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  z-index: -1;
}

.form__button::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
  z-index: -1;
}

/* Normal Usage */

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .form__button {
    margin: 0 auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (min-width: 37.49875em) {
  .about__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 47.99875em) {
  .menu__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__link {
    padding: 0.3125rem 0.75rem;
    line-height: 1.3;
    position: relative;
  }

  .menu__link::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(65, 22, 196, 0.95);
    -webkit-transition: top 0.3s ease;
    transition: top 0.3s ease;
    z-index: -1;
  }

  .portfolio__slide {
    opacity: 1;
  }
}

@media (min-width: 47.99875em) and (min-width: 85.625em) {
  .menu__link {
    font-size: 1.25rem;
  }
}

@media (min-width: 85.625em) {
  .logo {
    width: 9.375rem;
  }
}

@media (min-width: 87.5em) {
  .popup__close {
    font-size: 1.375rem;
  }

  .popup__text {
    font-size: 4.375rem;
  }

  .title {
    letter-spacing: 1.875rem;
  }

  .title {
    font-size: 5rem;
  }

  .title--margin:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .header {
    padding: 0.9375rem;
  }

  main > :first-child {
    padding-bottom: 2.5rem;
  }

  main > :not(:first-child) {
    padding-top: 2.5rem;
  }

  main > :not(:first-child) {
    padding-bottom: 2.5rem;
  }

  .about__inner {
    gap: 3.4375rem;
  }

  .about__text p {
    font-size: 2.375rem;
  }

  .portfolio__body {
    padding-right: 1.875rem;
  }

  .portfolio__title-slide {
    font-size: 2.375rem;
  }

  .form {
    font-size: 1.375rem;
  }
}

@media (max-width: 20em) {
  .popup__close {
    font-size: 1.125rem;
  }

  .popup__text {
    font-size: 2.875rem;
  }

  .title {
    letter-spacing: 0.4375rem;
  }

  .title {
    font-size: 2.375rem;
  }

  .title--margin:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .header {
    padding: 0.625rem;
  }

  main > :first-child {
    padding-bottom: 0.9375rem;
  }

  main > :not(:first-child) {
    padding-top: 0.9375rem;
  }

  main > :not(:first-child) {
    padding-bottom: 0.9375rem;
  }

  .about__inner {
    gap: 1.5625rem;
  }

  .about__text p {
    font-size: 1.375rem;
  }

  .portfolio__body {
    padding-right: 1.25rem;
  }

  .portfolio__title-slide {
    font-size: 1.875rem;
  }

  .form {
    font-size: 1.1875rem;
  }
}

@media (max-width: 47.99875em) {
  .light-theme .header::before {
    background-color: #7b28ff;
  }

  .light-theme .header .menu__list {
    background-color: #7a28ff;
  }

  .logo {
    width: 8.4375rem;
  }

  .menu__list--position {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    border-radius: 15% 85% 0% 100%/100% 0% 100% 0%;
    padding: 9.375rem 1.25rem 1.875rem 1.5625rem;
    background-color: #4116c4;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5625rem;
    -webkit-transition: right 0.5s ease, background-color 0.5s ease;
    transition: right 0.5s ease, background-color 0.5s ease;
  }

  .menu__item {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header:before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #4116c4;
    z-index: 10;
    -webkit-transition: right 0.5s ease, background-color 0.5s ease;
    transition: right 0.5s ease, background-color 0.5s ease;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.1875rem;
    height: 1.4375rem;
    z-index: 100;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .portfolio__slide.swiper-slide-active {
    opacity: 1;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .menu__list {
    width: 100%;
    border-radius: 0;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 87.5em) {
@supports (font-size: clamp( 1.125rem , 1.0509259259rem  +  0.3703703704vw , 1.375rem )) {
    .popup__close {
      font-size: clamp( 1.125rem , 1.0509259259rem  +  0.3703703704vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0509259259rem  +  0.3703703704vw , 1.375rem )) {
    .popup__close {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 67.5);
    }
}

@supports (font-size: clamp( 2.875rem , 2.4305555556rem  +  2.2222222222vw , 4.375rem )) {
    .popup__text {
      font-size: clamp( 2.875rem , 2.4305555556rem  +  2.2222222222vw , 4.375rem );
    }
}

@supports not (font-size: clamp( 2.875rem , 2.4305555556rem  +  2.2222222222vw , 4.375rem )) {
    .popup__text {
      font-size: calc(2.875rem + 1.5 * (100vw - 20rem) / 67.5);
    }
}

@supports (letter-spacing: clamp( 0.4375rem , 0.0115740741rem  +  2.1296296296vw , 1.875rem )) {
    .title {
      letter-spacing: clamp( 0.4375rem , 0.0115740741rem  +  2.1296296296vw , 1.875rem );
    }
}

@supports not (letter-spacing: clamp( 0.4375rem , 0.0115740741rem  +  2.1296296296vw , 1.875rem )) {
    .title {
      letter-spacing: calc(0.4375rem + 1.4375 * (100vw - 20rem) / 67.5);
    }
}

@supports (font-size: clamp( 2.375rem , 1.5972222222rem  +  3.8888888889vw , 5rem )) {
    .title {
      font-size: clamp( 2.375rem , 1.5972222222rem  +  3.8888888889vw , 5rem );
    }
}

@supports not (font-size: clamp( 2.375rem , 1.5972222222rem  +  3.8888888889vw , 5rem )) {
    .title {
      font-size: calc(2.375rem + 2.625 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.099537037rem  +  2.3148148148vw , 3.125rem )) {
    .title--margin:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.099537037rem  +  2.3148148148vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.099537037rem  +  2.3148148148vw , 3.125rem )) {
    .title--margin:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding: clamp( 0.625rem , 0.5324074074rem  +  0.462962963vw , 0.9375rem )) {
    .header {
      padding: clamp( 0.625rem , 0.5324074074rem  +  0.462962963vw , 0.9375rem );
    }
}

@supports not (padding: clamp( 0.625rem , 0.5324074074rem  +  0.462962963vw , 0.9375rem )) {
    .header {
      padding: calc(0.625rem + 0.3125 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.474537037rem  +  2.3148148148vw , 2.5rem )) {
    main > :first-child {
      padding-bottom: clamp( 0.9375rem , 0.474537037rem  +  2.3148148148vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.474537037rem  +  2.3148148148vw , 2.5rem )) {
    main > :first-child {
      padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.474537037rem  +  2.3148148148vw , 2.5rem )) {
    main > :not(:first-child) {
      padding-top: clamp( 0.9375rem , 0.474537037rem  +  2.3148148148vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.474537037rem  +  2.3148148148vw , 2.5rem )) {
    main > :not(:first-child) {
      padding-top: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.474537037rem  +  2.3148148148vw , 2.5rem )) {
    main > :not(:first-child) {
      padding-bottom: clamp( 0.9375rem , 0.474537037rem  +  2.3148148148vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.474537037rem  +  2.3148148148vw , 2.5rem )) {
    main > :not(:first-child) {
      padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 67.5);
    }
}

@supports (gap: clamp( 1.5625rem , 1.0069444444rem  +  2.7777777778vw , 3.4375rem )) {
    .about__inner {
      gap: clamp( 1.5625rem , 1.0069444444rem  +  2.7777777778vw , 3.4375rem );
    }
}

@supports not (gap: clamp( 1.5625rem , 1.0069444444rem  +  2.7777777778vw , 3.4375rem )) {
    .about__inner {
      gap: calc(1.5625rem + 1.875 * (100vw - 20rem) / 67.5);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0787037037rem  +  1.4814814815vw , 2.375rem )) {
    .about__text p {
      font-size: clamp( 1.375rem , 1.0787037037rem  +  1.4814814815vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0787037037rem  +  1.4814814815vw , 2.375rem )) {
    .about__text p {
      font-size: calc(1.375rem + 1 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.0648148148rem  +  0.9259259259vw , 1.875rem )) {
    .portfolio__body {
      padding-right: clamp( 1.25rem , 1.0648148148rem  +  0.9259259259vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.0648148148rem  +  0.9259259259vw , 1.875rem )) {
    .portfolio__body {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 67.5);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7268518519rem  +  0.7407407407vw , 2.375rem )) {
    .portfolio__title-slide {
      font-size: clamp( 1.875rem , 1.7268518519rem  +  0.7407407407vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7268518519rem  +  0.7407407407vw , 2.375rem )) {
    .portfolio__title-slide {
      font-size: calc(1.875rem + 0.5 * (100vw - 20rem) / 67.5);
    }
}

@supports (font-size: clamp( 1.1875rem , 1.1319444444rem  +  0.2777777778vw , 1.375rem )) {
    .form {
      font-size: clamp( 1.1875rem , 1.1319444444rem  +  0.2777777778vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.1875rem , 1.1319444444rem  +  0.2777777778vw , 1.375rem )) {
    .form {
      font-size: calc(1.1875rem + 0.1875 * (100vw - 20rem) / 67.5);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 85.625em) {
@supports (width: clamp( 8.4375rem , 7.2415575894rem  +  2.4916115744vw , 9.375rem )) {
    .logo {
      width: clamp( 8.4375rem , 7.2415575894rem  +  2.4916115744vw , 9.375rem );
    }
}

@supports not (width: clamp( 8.4375rem , 7.2415575894rem  +  2.4916115744vw , 9.375rem )) {
    .logo {
      width: calc(8.4375rem + 0.9375 * (100vw - 47.99875rem) / 37.62625);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 47.99875em) and (max-width: 85.625em) {
@supports (font-size: clamp( 1.125rem , 0.9655410119rem  +  0.3322148766vw , 1.25rem )) {
    .menu__link {
      font-size: clamp( 1.125rem , 0.9655410119rem  +  0.3322148766vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9655410119rem  +  0.3322148766vw , 1.25rem )) {
    .menu__link {
      font-size: calc(1.125rem + 0.125 * (100vw - 47.99875rem) / 37.62625);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 29.99875em) {
  .header:before {
    width: 50%;
  }
}

@media (any-hover: hover) {
  .light-theme .popup__close:hover {
    background-color: rgba(65, 22, 196, 0.95);
    color: #fff;
  }

  .popup__close:hover {
    background-color: #fff;
    color: #000;
  }

  .menu__link:hover::before {
    top: 0;
  }

  .footer__link img:hover {
    -webkit-transform: translate(0, -0.3125rem);
        -ms-transform: translate(0, -0.3125rem);
            transform: translate(0, -0.3125rem);
  }

  .portfolio__control .swiper-button-prev svg:hover path,
  .portfolio__control .swiper-button-next svg:hover path {
    fill: #043959;
  }

  .portfolio__link-img img:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }

  .portfolio__link:hover::before {
    left: 0;
  }

  .form__button:hover::before {
    top: 100%;
  }

  .form__button:hover::after {
    bottom: 0;
  }
}